.categories-icon {
  width: 60px;
  height: 60px;
}

.categories-card {
  background-color: transparent;
  border: none;
  /* width: 110px; */
  /* margin-right: 10px; */
  /* width: 100px; */
  /* height: 70px; */
}

.categories-card > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.categories-card > .card-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 5px;
  /* width: 100px; */
  /* height: 70px; */
}

#categories-container {
  background-color: transparent;
  overflow: hidden;
  padding: 0;
  margin-top: 35px;
}

.jumbotron {
  position: absolute;
  width: 100%;
  top: 60px;
  margin-bottom: auto;
  text-align: center;
}

#jumbotron-padding {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 32px;
  padding-right: 32px;
}

#recently-added-container {
  position: relative;
  margin-top: 300px;
}

.carousel-product {
  height: 280px;
  width: 200px;
}

.carousel-product-title {
  font-size: 18px;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.carousel-product-card-img {
  padding: 6px 6px 0;
  /* width: 150px; */
  height: 180px;
  object-fit: cover;
}

/* #categories-container > ul {
    list-style: none;
    display: flex;
} */
