.product-card {
  position: relative;
  height: 360px;
  width: 220px;
  float: left;
  margin: 0 16px 16px 0;
}

.product-card-img {
  padding: 6px 6px 0;
  /* width: 150px; */
  height: 180px;
  object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.products-container {
  background-color: transparent !important;
  max-width: 70% !important;
  padding: 0 !important;
}

@media screen and (max-width: 1200px) {
  .products-container {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 1450px) {
  .products-container {
    max-width: 90% !important;
  }
}

.products-fluid-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.products-divider {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
}

.products-filter {
  position: relative;
  height: 100%;
}

.products-search-form {
  width: 100%;
  margin-right: 20px;
}

.products-search {
  width: 100%;
}
