.product_info {
  width: 47%;
}

.product_detail > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  cursor: zoom-in;
}

.image-gallery-thumbnail-image {
  width: 100%;
  height: 60px;
  object-fit: cover;
}

.image-gallery-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.images_modal {
  pointer-events: auto;
  background-color: transparent;
  border: transparent;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.edit-button {
  margin-bottom: 20px;
  float: right;
}
