#search-box {
    top: 0;
    padding: 25px;
    position: relative;
  }
  
  #search-icon {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 1;
  }
  
  #search-field {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }
  
