/* .order-completed-header {
    background-color: transparent !important;
    border-radius: 1px;
    border-color: green !important;
} */

.border-4 {
  border-width: 4px !important;
}

.return-button {
  float: right;
}

.order-info-img {
  float: left;
  padding-right: 30px;
}

.order-info-img:hover {
  cursor: pointer;
}

.order-info-img-thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
