/* Chrome, Safari, Edge, Opera */
#product-quantity-form-control::-webkit-outer-spin-button,
#product-quantity-form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#product-quantity-form-control[type="number"] {
  -moz-appearance: textfield;
}

/* #product-quantity-form-control {
  width: 100%;
} */

#product-quantity-cart {
  width: 100%;
}

.item-cart-info {
  padding-top: 10px;
  float: left;
  width: calc(100% - 110px);
}

.item-cart-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-warning-triangle {
  background-color: transparent;
  border: none;
}

.cart-warning-triangle:hover,
.cart-warning-triangle:focus,
.cart-warning-triangle:active {
  background-color: transparent;
  border-color: transparent;
  outline: none !important;
  box-shadow: none;
}
