#checkout-button {
  height: 36px;
  background: goldenrod;
  color: white;
  /* width: 100%; */
  font-size: 14px;
  border: 0;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.6;
  border-radius: 0 0 6px 6px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  float: right;
}

#checkout-button:hover {
  opacity: 0.8;
}

#checkout-button:disabled, #checkout-button:hover:disabled {
  background-color: grey;
  opacity: 1;
  cursor: default;
}
