.dz-preview > img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.filepicker {
  height: 170px;
  width: 150px;
}

.delete-image-button {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
