.question-info-img {
  float: left;
  padding-right: 30px;
}

.question-info-img:hover {
  cursor: pointer;
}

.question-info-img-thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.question-info-img-thumbnail-modal {
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.question-info-preview {
  float: left;
  width: calc(100% - 110px);
}

.question-info-preview-time {
  float: right;
}

#question-info-preview-product {
  font-size: 0.75rem;
}

.question-info-modal {
  padding: 10px !important;
  padding-left: 15px !important;
  background-color: #c2c2c2a8 !important;
  border-radius: 0.5rem !important;
  max-width: max-content;
  margin-left: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  width: 80%;
}

.question-info-modal-response-container {
  float: right;
  background-color: aquamarine !important;
}

.question-info-modal-response {
  float: right;
}

.answer-form {
  width: 100%;
}

.chat-scroll {
  height: 60vh;
  overflow-y: scroll;
}
