.topbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 60px;
}

.topbar > nav {
  height: 100%;
}

.dropbtn {
  background-color: transparent;
  color: white;
  margin-right: 16px;
  margin-top: 4px;
  font-size: 16px;
  border: none;
}
.topbar > nav > a {
  margin-left: 0 !important;
}

#products-search-form-container {
  padding: 0;
}

.right-nav {
  width: max-content;

  /* color: white;
  /* padding: 16px; */
  /* font-size: 16px;  */
  /* padding-top: 0; 
  padding-bottom: 0;  */
}
.right-nav-block {
  display: block ruby;
  /* flex-wrap: nowrap; */
}

.dropdown {
  position: relative;
  display: block ruby;
  align-content: center;
  width: max-content;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f1f1f1; */
  /* top: 28px; */
  /* margin-top: 10px; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.transparent-dropdown-content {
  height: 15px;
  background-color: transparent !important;
  /* background-color: #f1f1f1; */
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  top: 0;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  right: 0;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

.link-button {
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.shopping-cart-button {
  margin-right: 15px;
  color: white;
  /* background-color: transparent;
  border-color: transparent; */
}

.shopping-cart-button:hover {
  color: grey;
  background-color: transparent;
  border-color: transparent;
}

.shopping-cart-button:active, .shopping-cart-button:focus {
  background-color: transparent;
  border-color: transparent;
  outline: none !important;
  box-shadow: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }