.menu-trigger {
  background-color: transparent;
  border: none;
  /* z-index: 5;
  position: fixed;
  padding: 25px; */
  outline: none;
}

.menu-close {
  background-color: transparent;
  border: none;
  z-index: 5;
  position: absolute;
  top: 20px;
  left: 190px;
  outline: none;
}

.sidebar {
    position: absolute;
    top: 0;
}

.sidebar-content {
  height: 100%;
  background-color: #212529;
  overflow-x: hidden;
  padding-top: 50px;
  z-index: 5;
  position: fixed;
}

.sidebar-links {
  margin-top: 50px;
}

.sidebar-link {
  padding: 30px;
}

.sidebar-link > a {
  color: white;
  font-size: large;
  text-decoration: none;
}
