@import "modules/app/components/css/navbar.css";
@import "modules/app/components/css/sidebar.css";
@import "modules/catalog/components/css/productDetails.css";
@import "modules/catalog/components/css/userProducts.css";
@import "modules/catalog/components/css/products.css";
@import "modules/catalog/components/css/mainPage.css";
@import "modules/shopping/components/css/updateProduct.css";
@import "modules/shopping/components/css/shoppingCart.css";
@import "modules/shopping/components/css/stripe.css";
@import "modules/shopping/components/css/order.css";
@import "modules/common/components/css/backButton.css";
@import "modules/common/components/css/backButton.css";
@import "modules/users/components/css/questions.css";
@import "modules/users/components/css/stripeConnect.css";

body,
html {
  min-height: 100% !important;
  width: 100%;
  margin: 0;
}

html {
  background-color: #c2c2c2a8;
}

*:focus {
  outline: 0 !important;
}

.header {
  height: 60px;
  /* margin-bottom: 30px; */
}

.home {
  text-align: center;
}

.body-components-footer {
  background-color: #c2c2c2a8;
}

.body-components {
  padding-top: 50px;
  min-height: calc(100vh - 200px);
  margin-bottom: 50px;
}

footer {
  color: white;
  height: 150px;
  position: relative;
}

.footer-copyright {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background-color: white;
  padding: 40px;
}

.global-alert {
  position: fixed;
  width: 500px;
  top: 80px;
  left: 50%;
  margin-left: -250px;
  z-index: 100;
}

.button-as-link {
  padding: 0;
}

.button-as-link:focus {
  box-shadow: none;
}

.top-buffer {
  margin-top: 15px;
}

.product_mini {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.table-style {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-style td,
.table-style th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-style tr:hover {
  background-color: #ddd;
}

.table-style th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #343a40;
  color: white;
}

.bg-transparent {
  background-color: transparent !important;
  display: flex;
  justify-content: center;
}

.page-center {
  position: absolute;
  left: 50%;
  top: 100%;
}

.break-word{
    word-break: break-all;
}